@tailwind base;
@tailwind components;
@tailwind utilities;

.truncate-multiline {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Número de linhas que você deseja exibir */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }